@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.login-page-style {
  background-color: #F0F2F5;
  font-family: Arial, serif; }
  .login-page-style .container {
    padding-top: 9.5%;
    padding-bottom: 20%;
    margin-left: 18.5%; }
    .login-page-style .container .row :first-child img {
      max-width: 55%;
      margin-left: -5%; }
    .login-page-style .container .row :first-child p {
      font-size: 24px;
      max-width: 80%;
      font-weight: 400; }
    .login-page-style .container .row :last-child .form-container {
      background-color: #FFF;
      padding: 15px 15px 24px;
      margin-top: -10%;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
      max-width: 90%; }
      .login-page-style .container .row :last-child .form-container form .form-group input {
        height: 50px;
        border-radius: 8px; }
      .login-page-style .container .row :last-child .form-container form .form-group ::placeholder {
        color: #909FB4;
        padding-left: 2.5%; }
      .login-page-style .container .row :last-child .form-container form button {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 20px; }
      .login-page-style .container .row :last-child .form-container .forgotten-password-link {
        text-align: center;
        padding: 15px 0;
        font-size: 14px; }
      .login-page-style .container .row :last-child .form-container .new-account-btn {
        text-align: center; }
        .login-page-style .container .row :last-child .form-container .new-account-btn .btn.btn-success {
          padding: 15px 20px;
          font-weight: bold;
          font-size: 16px;
          background-color: #42b72a; }
          .login-page-style .container .row :last-child .form-container .new-account-btn .btn.btn-success:hover {
            background-color: #28a745; }
    .login-page-style .container .signup-popup {
      display: none;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 0;
      left: 0; }
      .login-page-style .container .signup-popup .signup-popup-container {
        background-color: #fff;
        margin-left: 35%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
        left: 3%;
        position: absolute;
        top: 25%;
        width: 432px;
        border-radius: 7.5px;
        padding-bottom: 25px; }
        .login-page-style .container .signup-popup .signup-popup-container .title {
          padding-left: 17.5px;
          font-weight: bold;
          font-size: 32px; }
        .login-page-style .container .signup-popup .signup-popup-container i.btn {
          font-size: 18px;
          float: right;
          color: #606771; }
        .login-page-style .container .signup-popup .signup-popup-container form {
          padding-left: 17.5px;
          padding-right: 17.5px; }
          .login-page-style .container .signup-popup .signup-popup-container form div.form-group, .login-page-style .container .signup-popup .signup-popup-container form div.form-row {
            margin-bottom: 17.5px; }
          .login-page-style .container .signup-popup .signup-popup-container form .form-row .form-check-inline {
            margin-right: 25px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            height: 38px; }
            .login-page-style .container .signup-popup .signup-popup-container form .form-row .form-check-inline label {
              width: 100%;
              padding-left: 10px;
              font-size: 14px; }
              .login-page-style .container .signup-popup .signup-popup-container form .form-row .form-check-inline label .form-check-input {
                float: right;
                display: flex;
                margin-top: 5px; }
          .login-page-style .container .signup-popup .signup-popup-container form select {
            font-size: 14px;
            font-weight: bolder; }
            .login-page-style .container .signup-popup .signup-popup-container form select option {
              font-size: 14px; }
          .login-page-style .container .signup-popup .signup-popup-container form span.label {
            font-size: 12px;
            color: #606D7C; }
          .login-page-style .container .signup-popup .signup-popup-container form input {
            background-color: #F5F6F7; }
          .login-page-style .container .signup-popup .signup-popup-container form ::placeholder {
            color: #909FB4;
            font-size: 14px; }
          .login-page-style .container .signup-popup .signup-popup-container form button {
            width: 50%;
            margin-left: 23%;
            font-size: 18px;
            font-weight: 600; }

.header.container-fluid {
  background-color: #242526; }
  .header.container-fluid .container {
    text-align: center; }
    .header.container-fluid .container .profile-image {
      max-width: 43%;
      margin-left: 28.5%;
      padding-top: 10%; }
      .header.container-fluid .container .profile-image img {
        max-width: inherit;
        border-radius: 50%; }
    .header.container-fluid .container .profile-data {
      margin-top: 2.5%; }
      .header.container-fluid .container .profile-data .name {
        font-weight: bolder;
        font-size: 30px;
        color: #D3DADA; }
        .header.container-fluid .container .profile-data .name .nickname {
          font-weight: 100; }
      .header.container-fluid .container .profile-data .about {
        font-size: 16px; }
    .header.container-fluid .container nav {
      padding: 0; }
      .header.container-fluid .container nav ul li div {
        color: inherit;
        font-weight: bolder;
        padding: 10px 15px;
        border-radius: 10px 10px 0 0;
        transition: background-color ease-in-out 0.4s; }
        .header.container-fluid .container nav ul li div:hover {
          background-color: #3B3C3C; }
      .header.container-fluid .container nav ul li.active {
        color: #3181EE;
        border-bottom: #3181EE solid 3px; }

.creat-post {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  .creat-post .create-post-form {
    background-color: #242526;
    margin-left: 34.5%;
    left: 3%;
    position: absolute;
    top: 25%;
    width: 25%;
    border-radius: 7.5px; }
    .creat-post .create-post-form .title {
      color: #D3DADA;
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px; }
    .creat-post .create-post-form i.btn {
      font-size: 30px;
      color: #D3DADA;
      padding-top: 9px; }
    .creat-post .create-post-form .outer-container {
      max-height: 500px;
      overflow: hidden; }
    .creat-post .create-post-form form {
      max-height: 500px;
      margin-right: -15px;
      overflow-y: scroll; }
    .creat-post .create-post-form .form-group img {
      max-width: 100%;
      border-radius: 50%;
      max-height: 45px; }
    .creat-post .create-post-form .form-group p {
      font-size: 14px; }
    .creat-post .create-post-form .form-group select {
      font-size: 14px;
      height: 25px;
      padding: 0;
      width: 80px;
      background-color: #242526;
      border: none;
      cursor: pointer;
      color: #fff; }
      .creat-post .create-post-form .form-group select option {
        font-size: 14px;
        border: none; }
    .creat-post .create-post-form .form-group textarea {
      background-color: #242526;
      border: none;
      color: #D3DADA;
      resize: none;
      height: 120px;
      margin-top: 15px;
      font-size: 16px; }
      .creat-post .create-post-form .form-group textarea:focus {
        box-shadow: none; }
    .creat-post .create-post-form .form-group label {
      cursor: pointer; }
      .creat-post .create-post-form .form-group label span.image-span {
        margin-left: 20px;
        font-size: 14px;
        font-weight: bold;
        display: inline-block; }
    .creat-post .create-post-form .display-image {
      margin-bottom: 15px;
      position: relative;
      display: none;
      padding-top: 5%; }
      .creat-post .create-post-form .display-image i {
        position: absolute;
        top: 0;
        right: 20%;
        font-size: 14px; }
      .creat-post .create-post-form .display-image img {
        max-width: 50%; }
    .creat-post .create-post-form button {
      background-color: #414144;
      color: #D3DADA;
      font-size: 14px;
      font-weight: bold;
      width: 80%;
      transition: all ease-in-out 0.2s;
      margin-bottom: 15px; }
      .creat-post .create-post-form button:hover {
        background-color: #4E4F50; }

.new-post {
  background-color: #242526;
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
  padding: 15px;
  height: 100px; }
  .new-post img {
    max-width: 100%;
    border-radius: 50%;
    max-height: 45px; }
  .new-post div:last-child {
    text-align: left;
    background-color: #414144;
    border-radius: 20px;
    max-height: 45px;
    transition: all ease-in-out 0.2s; }
    .new-post div:last-child p.lead {
      margin-top: 9px;
      margin-bottom: 5px;
      font-size: 18px; }
    .new-post div:last-child:hover {
      background-color: #4E4F50;
      cursor: pointer; }

.post-form {
  background-color: #242526;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px; }
  .post-form .user-info, .post-form .post-write-comment {
    color: #E4E6EB; }
    .post-form .user-info .user-photo img, .post-form .post-write-comment .user-photo img {
      max-width: 100%;
      border-radius: 50%;
      max-height: 45px; }
    .post-form .user-info .user-name, .post-form .post-write-comment .user-name {
      margin-left: -40px;
      font-weight: bold; }
    .post-form .user-info .edit-btn-container, .post-form .post-write-comment .edit-btn-container {
      margin-left: 120px; }
      .post-form .user-info .edit-btn-container .edit-btn, .post-form .post-write-comment .edit-btn-container .edit-btn {
        transition: all ease-in-out 0.2s;
        color: #94999A; }
        .post-form .user-info .edit-btn-container .edit-btn:hover, .post-form .post-write-comment .edit-btn-container .edit-btn:hover {
          color: #414144;
          cursor: pointer; }
  .post-form .post-data {
    color: #E4E6EB;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px; }
    .post-form .post-data p {
      text-align: left;
      font-size: 16px; }
    .post-form .post-data div.image-cover {
      max-width: 100%;
      text-align: left; }
      .post-form .post-data div.image-cover img {
        max-width: 100%; }
  .post-form .post-interaction {
    margin-top: 15px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: bold; }
    .post-form .post-interaction div.interaction-btn {
      transition: all ease-in-out 0.2s; }
      .post-form .post-interaction div.interaction-btn:hover {
        color: #414144;
        cursor: pointer; }
    .post-form .post-interaction .love-color {
      color: #EE5770; }
    .post-form .post-interaction span {
      max-width: 20%;
      overflow: hidden; }
  .post-form .post-write-comment {
    padding-left: 22.5px;
    text-align: left; }
    .post-form .post-write-comment textarea {
      background-color: #414144;
      border: none;
      resize: none;
      color: #E4E6EB;
      border-radius: 50px;
      height: auto;
      max-height: 40px;
      font-size: 14px; }
      .post-form .post-write-comment textarea:focus {
        box-shadow: none; }
      .post-form .post-write-comment textarea::placeholder {
        padding-top: 3px;
        padding-left: 6px; }
    .post-form .post-write-comment div.btn {
      background-color: #414144;
      font-size: 14px;
      font-weight: bold;
      margin-top: 1.7px;
      height: 37px;
      transition: all ease-in-out 0.2s; }
      .post-form .post-write-comment div.btn:hover {
        background-color: #4E4F50; }

.friend-form {
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .friend-form img {
    max-width: 18%;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 50px; }
  .friend-form a {
    display: inline-block;
    text-align: left;
    color: #D3DADA;
    transition: all ease-in-out 0.2s; }
    .friend-form a:hover {
      text-decoration: none;
      color: #3E4041; }

.friends-list {
  background-color: #242526;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 10px; }

.edit-form {
  background-color: #242526;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  padding: 10px; }
  .edit-form form .form-row {
    margin-bottom: 30px;
    text-align: left; }
    .edit-form form .form-row input, .edit-form form .form-row select, .edit-form form .form-row textarea {
      background-color: #242526;
      border: none;
      color: inherit; }
      .edit-form form .form-row input:focus, .edit-form form .form-row select:focus, .edit-form form .form-row textarea:focus {
        background-color: #242526;
        color: #D3DADA; }
    .edit-form form .form-row input::placeholder {
      padding-left: 10px; }
    .edit-form form .form-row input[type=email] {
      color: #D3DADA; }
      .edit-form form .form-row input[type=email]:focus {
        box-shadow: none; }
    .edit-form form .form-row input[type=number]::-webkit-inner-spin-button, .edit-form form .form-row input[type=number]::-webkit-outer-spin-button {
      appearance: none;
      margin: 0; }
    .edit-form form .form-row select {
      cursor: pointer;
      padding-left: 18px; }
      .edit-form form .form-row select:hover {
        box-shadow: none; }
    .edit-form form .form-row textarea {
      resize: none;
      padding-left: 21px;
      max-height: 150px; }
    .edit-form form .form-row label {
      padding-left: 10px;
      margin-bottom: 0;
      color: #D3DADA; }
    .edit-form form .form-row:last-child {
      margin-bottom: 0; }
  .edit-form form div.phone-numbers-list {
    text-align: left;
    margin-right: -60px;
    margin-left: 50px;
    overflow: hidden; }
    .edit-form form div.phone-numbers-list .new-phone-btn {
      width: 15%;
      margin-bottom: 20px;
      background-color: #414144;
      color: #D3DADA;
      font-size: 14px;
      font-weight: bold;
      transition: all ease-in-out 0.2s; }
      .edit-form form div.phone-numbers-list .new-phone-btn:hover {
        background-color: #4E4F50; }
      .edit-form form div.phone-numbers-list .new-phone-btn span {
        display: inline-block;
        padding-right: 15px; }
      .edit-form form div.phone-numbers-list .new-phone-btn i {
        font-size: 16px; }
    .edit-form form div.phone-numbers-list div.phone-numbers-container {
      max-height: 150px;
      overflow-y: scroll; }
      .edit-form form div.phone-numbers-list div.phone-numbers-container div.form-row {
        margin-top: 10px;
        margin-left: 2px; }
        .edit-form form div.phone-numbers-list div.phone-numbers-container div.form-row i.btn {
          margin-top: 1px; }
          .edit-form form div.phone-numbers-list div.phone-numbers-container div.form-row i.btn:hover {
            color: #4E4F50; }
  .edit-form form button {
    width: 70%;
    margin-bottom: 20px;
    background-color: #414144;
    color: #D3DADA;
    font-size: 14px;
    font-weight: bold;
    transition: all ease-in-out 0.2s; }
    .edit-form form button:hover {
      background-color: #4E4F50; }

.profile-page-style {
  color: #94999A;
  background-color: #18191A;
  padding-bottom: 25px; }
  .profile-page-style .post-container {
    width: 50%; }
  .profile-page-style hr {
    background-color: #3E4041; }
  .profile-page-style .body.container-fluid {
    padding-top: 15px; }
    .profile-page-style .body.container-fluid .container {
      text-align: center; }

.friend-form {
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .friend-form img {
    max-width: 18%;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 50px; }
  .friend-form a {
    display: inline-block;
    text-align: left;
    color: #D3DADA;
    transition: all ease-in-out 0.2s; }
    .friend-form a:hover {
      text-decoration: none;
      color: #3E4041; }

.friend-form img {
  margin-right: 20px; }
.friend-form button {
  margin-left: 20px;
  background-color: #414144;
  color: #D3DADA;
  font-size: 14px;
  font-weight: bold;
  transition: all ease-in-out 0.2s; }
  .friend-form button:hover {
    background-color: #4E4F50; }

.home-page-style {
  color: #94999A;
  background-color: #18191A;
  padding-bottom: 25px; }
  .home-page-style .header.container-fluid {
    background-color: #242526; }
    .home-page-style .header.container-fluid .container {
      text-align: center; }
  .home-page-style hr {
    background-color: #3E4041; }
  .home-page-style .body.container-fluid {
    padding-top: 15px; }
    .home-page-style .body.container-fluid .container {
      text-align: center; }
      .home-page-style .body.container-fluid .container .post-form .user-info .user-name, .home-page-style .body.container-fluid .container .post-form .post-write-comment .user-name {
        margin-left: -70px; }
      .home-page-style .body.container-fluid .container .post-form .user-info .edit-btn-container, .home-page-style .body.container-fluid .container .post-form .post-write-comment .edit-btn-container {
        display: none; }

nav {
  padding: 20px 0 0 !important; }
  nav ul li div {
    color: inherit;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    transition: background-color ease-in-out 0.4s; }
    nav ul li div a {
      color: inherit; }
      nav ul li div a:hover {
        color: inherit;
        text-decoration: none; }
    nav ul li div:hover {
      background-color: #3B3C3C; }
  nav ul li.active {
    color: #3181EE;
    border-bottom: #3181EE solid 3px; }
  nav form input {
    background-color: #242526 !important;
    border: none !important;
    color: #94999A !important; }
    nav form input:focus {
      box-shadow: none !important; }
  nav form button {
    margin-bottom: 20px;
    background-color: #414144;
    color: #D3DADA;
    font-size: 14px;
    font-weight: bold;
    transition: all ease-in-out 0.2s; }
    nav form button:hover {
      background-color: #4E4F50; }

.creat-post .create-post-form .notifications-list {
  max-height: 500px;
  overflow-y: scroll; }
.creat-post .create-post-form .notification-container {
  font-size: 14px !important;
  color: inherit;
  margin-bottom: 10px;
  transition: all ease-in-out 0.2s;
  max-width: 90%;
  margin-left: 5%; }
  .creat-post .create-post-form .notification-container img {
    max-width: 100%;
    border-radius: 50%;
    max-height: 45px; }
  .creat-post .create-post-form .notification-container span {
    display: inline-block;
    margin-left: 10px; }
  .creat-post .create-post-form .notification-container p {
    font-size: 14px;
    margin-left: 60px; }
  .creat-post .create-post-form .notification-container hr {
    width: 75%; }
  .creat-post .create-post-form .notification-container:hover {
    color: #4E4F50;
    text-decoration: none; }
.creat-post .create-post-form .without-hover {
  color: inherit !important; }

/*# sourceMappingURL=main.css.map */
