@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import "login_page";
@import "profile";
@import "friend-request-form";
@import "home";
@import "components/nav-bar";
@import "components/notifications-popup";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #18191A;
}