@import "components/profile/profile_header";
@import "components/profile/new_post";
@import "components/profile/post_form";
@import "components/profile/freind_list";
@import "components/profile/edit-form";


.profile-page-style {
    color: #94999A;
    background-color: #18191A;
    padding-bottom: 25px;
    .post-container {
        //width: 50%;
    }
    hr {
        background-color: #3E4041;
    }
    .body.container-fluid {
        padding-top: 15px;
        .container {
            text-align: center;
        }
    }
}