@import "post/new-post-popup";

.new-post {
    background-color: #242526;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
    padding: 15px;
    height: 100px;
    img {
        height: 45px;
        max-height: 45px;
        width: 57%;
        max-width: 57%;
        border-radius: 50%;
    }
    div:last-child {
        text-align: left;
        background-color: #414144;
        border-radius: 20px;
        max-height: 45px;
        transition: all ease-in-out 0.2s;
        p.lead {
            margin-top: 9px;
            margin-bottom: 5px;
            font-size: 18px;
        }
        &:hover {
            background-color: #4E4F50;
            cursor: pointer;
        }
    }
}