.header.container-fluid {
    background-color: #242526;
    .container {
        text-align: center;
        form.profile-photo-form {
            max-width: 43%;
            margin-left: 28.5%;
            padding-top: 10%;
            position: relative;
            img, i {
                transition: all ease-in-out 0.4s;
                &:hover {
                    cursor: pointer;
                    opacity: 0.4;
                }
            }
            img {
                max-width: inherit;
                border-radius: 50%;
            }
            i {
                position: absolute;
                font-size: 32px;
                top: 90%;
                right: 47%;
            }
        }
        .profile-data {
            margin-top: 2.5%;
            .name {
                font-weight: bolder;
                font-size: 30px;
                color: #D3DADA;
                .nickname {
                    font-weight: 100;
                }
            }
            .about {
                font-size: 16px;
            }
        }
        nav {
            padding: 0;
            ul {
                li {
                    div {
                        color: inherit;
                        font-weight: bolder;
                        padding: 10px 15px;
                        border-radius: 10px 10px 0 0;
                        transition: background-color ease-in-out 0.4s;
                        &:hover {
                            background-color: #3B3C3C;
                        }
                    }
                    &.active {
                        color: #3181EE;
                        border-bottom: #3181EE solid 3px;
                    }
                    &#my-friend-requests {
                        position: relative;
                        span {
                            position: absolute;
                            top: 0;
                            color: #D3DADA;

                        }
                    }
                }
            }
        }
    }
}