.creat-post {
    .create-post-form {
        .notifications-list {
            max-height: 500px;
            overflow-y: scroll;
        }
        .notification-container {
            font-size: 14px !important;
            color: inherit;
            margin-bottom: 10px;
            transition: all ease-in-out 0.2s;
            max-width: 90%;
            margin-left: 5%;
            img {
                width: 13%;
                max-width: 13%;
                border-radius: 50%;
                height: 50px;
                max-height: 50px;
            }
            span {
                display: inline-block;
                margin-left: 10px;
            }
            p {
                font-size: 14px;
                margin-left: 60px;
            }
            hr {
                width: 75%;
            }
            &:hover {
                color: #4E4F50;
                text-decoration: none;
            }
        }
        .without-hover {
            color: inherit !important;
        }
    }
}